In [1]:
#Let's read the dataset
import pandas as pd
df = pd.read_csv("../BostonHousing.csv")

Today is the 14 Day of our Machile Learning challenge where we will write a code in order to learn Machine Learning every single day.
Today our topic will normal equation in Linear Regression. We will try to implement formula and solve the problem using normal equation.
The formula of normal equation is w=(X.T * X)**−1 * X.T * y. Where w is the coefficient. As the whole formula is y = wx + e where e is the minimum error.
From that we can calculate w.

In [2]:
#Let's see the dataset
#We can see that all our features contains the numerical values and we should predict "MEDV" column as it median value price
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [28]:
#So let's use the formula
import numpy as np
#For matrix inversion I will use numpy package
training_dataset = df[["crim", "zn", "indus", "chas", "nox", "rm", "age", "dis", "rad", "tax", "ptratio", "b", "lstat"]]
test_dataset = df["medv"]
w = np.linalg.pinv(training_dataset.T @ training_dataset) @ training_dataset.T @ test_dataset

In [29]:
w

0    -0.092897
1     0.048715
2    -0.004060
3     2.853999
4    -2.868436
5     5.928148
6    -0.007269
7    -0.968514
8     0.171151
9    -0.009396
10   -0.392191
11    0.014906
12   -0.416304
dtype: float64

In [37]:
#Okay now we have w  let's compute predictions now
predictions = training_dataset.values @ w

In [46]:
#okay now let's see our predicted values and actual values 
for_mse = pd.concat([pd.DataFrame(predictions), pd.DataFrame(test_dataset)], axis=1)
#We can see that there are some differences between actual and predicted values in next steps let's calclate the MSE mean square error of our predictions
for_mse

             0  medv
0    29.098264  24.0
1    24.502275  21.6
2    31.227426  34.7
3    29.707104  33.4
4    29.564796  36.2
..         ...   ...
501  25.670701  22.4
502  23.316942  20.6
503  29.834355  23.9
504  28.147705  22.0
505  23.042319  11.9

[506 rows x 2 columns]

In [48]:
#Here let's now calculate the mean square error
sum_difference = 0
for prediction, actual in zip(for_mse[0].values, for_mse["medv"].values):
    sum_difference += (actual - prediction)**2

mse = sum_difference / for_mse.shape[0]

In [49]:
#Let's see the mse
mse
#we can see that our MSE is 24 tomorrow when we implement gradient descent for our this dataset we will see how we did it to perform well.

24.166099330126507

Today was the 17 day of our challenge. Today we learned how to deploy you Linear regression model with the use of Normal Equation.
We calculated w which is the coefficient of the function. 
Then we calculated the predictions.
And finally we calculated the mse with the use of formulas. And we tried to do all the steps manually